<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Bruno.jpg"
        class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Bruno Agustin Gentile</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat harum, natus quas optio eos facere enim delectus explicabo vero hic distinctio possimus, eum velit accusantium, mollitia porro culpa esse ad!</p>
        </span>
    </div>
</div>


